<div class="board">
  <div class="board-header">
    <label class="board-name">{{ board?.name }}</label>

    <div style="float: right" class="form-create">
      <input [(ngModel)]="task.title" placeholder="Title" />
      <label for="ngvalueselect">Status</label>
      <select [(ngModel)]="task.status">
        <option *ngFor="let column of columns">
          {{ column.value }}
        </option>
      </select>
      <button mat-flat-button color="primary" (click)="add()">Create</button>
    </div>
  </div>

  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of columns">
        <div class="columns column-title">
          <div class="column">{{ column.name }}</div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event, column.value)"
        >
          <div cdkDrag *ngFor="let task of column.tasks">
            {{ task.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
