<h2>Users</h2>

<div>
  <form>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput #firstname />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput #lastname />
    </mat-form-field>
  </form>
  <button
    mat-flat-button
    color="primary"
    (click)="
      add(firstname.value, lastname.value);
      firstname.value = '';
      lastname.value = ''
    "
  >
    Add
  </button>
</div>

<div class="card-list">
  <div class="card" *ngFor="let user of users">
    <div class="card_image">
      <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
    </div>
    <div class="card_title title-white">
      <p>{{ user.firstname }} {{ user.lastname }}</p>
    </div>
  </div>
</div>
